html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #343746;
  color: #edf3f7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  > main {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding: 0 3rem;
    box-sizing: border-box;

    @media (max-width: 576px) {
      padding: 0 1rem;
    }
  }

  > .bottom-line {
    text-align: center;
    color: #a0aec0;
    margin: .8rem 0;
    font-size: .8rem;

    a {
      color: inherit;
    }
  }
}

h1, h4 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 1.875rem;
  font-weight: 500;
}

h4 {
  color: #ddd;
  font-weight: normal;
}

a {
  color: #ff0d6a;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

form {
  margin-top: 2rem;
  display: flex;

  input, button {
    font-size: 100%;
    height: 3rem;
    line-height: 3rem;
  }

  input {
    flex-grow: 2;
    border-radius: .25rem 0 0 .25rem;
    margin: 0;
    padding: 0;
    border: none;
    padding: 0 1rem;
    background: #fbfbfb;
    border: 1px solid #e2e8f0;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", Courier New, monospace;

    &::placeholder {
      color: #a0aec0;
    }
  }

  button {
    padding: 1px;
    flex-grow: 1;
    background-color: #282a36;
    border: none;
    border-radius: 0 .25rem .25rem 0;
    color: #ff0d6a;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      text-decoration: underline;
      background-color: #171921;
    }
  }
}

#result {
  display: none;
  background-color: #282a36;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: .25rem;
  overflow: hidden;

  &:not(.error) {
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  img {
    float: left;
    margin: -.5rem 1rem 0 0;
  }

  .status {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
